<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Flask Reporter">
    <meta name="description" content="A platform to Generate your excel reports in seconds">
    <meta name="keywords" content="excel, Data, report, convenience, secure">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="keplalabs">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/xls.png') }}">
    <link rel="apple-touch-icon" type="image/png" href="{{ url_for('static', filename='images/xls.png') }}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <!-- <link rel="stylesheet" href="../static/styles.css"> -->

    <title> Upload File </title>
</head>
<body>
    <div class="main-container">


        <form action="" method="post" enctype="multipart/form-data">
            <div class="upload-input">
                <input type="file" name="file-upload" id="uploadFile"  >
                <!-- <label for="file"> Choose files </label> -->
            </div>
            <div class="submit-input">
                <i class="fas fa-file-upload"></i>
                <input type="submit" value="Upload File...">
            </div>
        </form>

        <div class="text">
            <p>
                {{ message }}
            </p>

            <a href="data"> <i class="fas fa-download"> Download Report </i></a>
        </div>

    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>